img{
	border-style: solid;
	border-color: blue;
	border-width: 5px;
	padding: 5%;
	width: 50%;
	box-sizing: border-box;
	float:left;
	margin: 0;
}

body {
	background-image: url("../images/tic-tac-toe.png");
}