html body .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: gray;
    color: white;
    text-align: center;

}

nav .navbar{
	background-color: yellow;
}

#profile {
	border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 10%;
}

h1{
	text-align: center;
    font-family: 'Playfair Display', serif;
    padding: 2%;
	
}

body{ 
    background-repeat: no-repeat;
    background-size: cover;
}

body::after {
  content: "";
  background: url('../img/IMG_4904.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.top {
	background-color: red;
    position: fixed;
    width: 100%;
    height: 10%;
}

#info{
    text-align: center;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Playfair Display', serif;
}

.card{
    display: inline-block;
    position: relative;
    float: left;
    margin: 2%;
    width: 250px;
    height: 225px;
    background: gray;

    /*background-position: 50% 50%;*/
    /*background-repeat:   no-repeat;
    background-size:     cover;*/
}

.card img{
    visibility: hidden;

}


.card:hover img{
    visibility: visible;
    overflow: scroll;
}

.card:hover h5{
    visibility: hidden;  
}

.card:hover p{
    visibility: hidden;
}

html body iframe {
    position: absolute;
    height: 75%;
    width: 100%;

}