
img{
		max-width: 100%; /*prevents items from being oversized*/
	}
@media only screen and (min-width: 650px){
	
	.top-nav{
		text-align:center;
	}
	.top-nav ul li {
		display:inline-block;

	}
	

	.flex-container {
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  display: -webkit-flexbox;
	  display: flex;
	  flex-flow: row wrap;
	}

	.flex-item {
	  max-height: 48%;
	}

	.a{
		width: 100%;
	}

	.b{
		width: 100%;
		
	}

	.c{
		width: 48%;
	}

	.d{
		width: 48%;
	}

	.e {
		width: 100%;
	}

	.f{
		width: 100%;
	}

	.g{
		width: 100%;
	}
}



@media only screen and (min-width: 1000px){
	.top-nav ul li {
		display: inline;
		float: right;
	}
	
	.flex-container {
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  display: -webkit-flexbox;
	  display: flex;
	  flex-flow: row wrap;
	}

	.flex-item {
	  max-height: 25%;
	}

	.a{
		width: 48%;
	}

	.b{
		width: 48%;
		
	}

	.c{
		width: 23%;
	}

	.d{
		width: 23%;
	}

	.e {
		width: 48%;
	}

	.f{
		width: 48%;
	}

	.g{
		width: 48%;
	}
}

